/* https://accessibleweb.com/color-contrast-checker/ */

h1 {
	color: #ffffff;
}

h2 {
	color: #ffffff;	
}

h3 {
	color: #ffffff;
}

.mySlides {
	display: none
}

* {
  box-sizing: border-box;
}

body {
  font-family: verdana;
}

/* Style the header */
.header {
  grid-area: header;
  background-color: #315338;
  color: #ffffff;
  padding: 30px;
  text-align: center;
  font-size: 25px;
}

/* The grid container */
.grid-container {
  display: grid;
  grid-template-areas: 
    'header header header header header header' 
    'left middle middle middle middle right' 
    'footer footer footer footer footer footer';
  /* grid-column-gap: 10px; */
} 

.left,
.middle,
.right {
  padding: 10px;
}

/* Style the left column */
.left {
  text-align: center;
  color: #ffffff;
  background-color: #575757;
  grid-area: left;
}

/* Style the middle column */
.middle {
  text-align: center;
  color: #ffffff;
  background-color: #516e7b;
  grid-area: middle;
  margin: auto;
  /*width: 50%; */
  border: 3px solid green;
  padding: 10px;
}

/* Style the right column */
.right {
  text-align: center;
  color: #ffffff;
  background-color: #575757;
  grid-area: right;
}

/* Style the footer */
.footer {
  grid-area: footer;
  color: #ffffff;
  background-color: #315338;
  padding: 10px;
  text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .grid-container  {
    grid-template-areas: 
      'header header header header header header' 
      'left left left left left left' 
      'middle middle middle middle middle middle' 
      'right right right right right right' 
      'footer footer footer footer footer footer';
  }
}







