/* mystyle.css for MART 145 */
body {
  font-family: "Lato", sans-serif
}
.mySlides {
  display: none;
  width:100%
}
.mySlides img {
    width: 600px;
    height: auto;
}
.w3-content {
  max-width:2000px;
  margin-top:64px
}
.w3-third {
  width:60%

}
