/* mystyle.css for MART 145 */
body {
  font-family: "Lato", sans-serif
}
.mySlides {
  display: none;
  width:100%
}
.w3-content {
  max-width:2000px;
  margin-top:46px
}
#dnd {
  max-width:800px
}
.w3-third {
  width:60%
}